/*  TIEMPOS FONT */
@font-face {
    font-family: 'Tiempos Text';
    src: url('./../fonts/TiemposText-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('./../fonts/TiemposText-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('./../fonts/TiemposHeadline-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

/* --- COLORS --- */

    /* -- PRIMARY COLOR (RED) -- */
    --primary-color: rgb(232,83,64);
    --primary-color-light: rgb(249,205,200);
    --primary-color-lighter: rgb(249,212,207);
    --primary-color-lightest: rgb(255,244,242);
    --primary-color-accent: rgb(232,83,64); /* Bruinrood */

    /* -- SECONDARY COLOR (GREEN) */

    --secondary-color: rgb(244 251 233);
    --secondary-color-dark: rgb(129, 165, 72);

    /* Grijstinten  */
    --black: rgb(0,0,0);
    --black-opacity: rgba(0, 0, 0, 0.71);
    --white: rgb(255,255,255);
    --black-author: rgb(68,68,68);
    --grey: rgb(116,116,116);
    --darkgrey: rgb(123,123,122); 
/* --- */

/* --- TYPOGHRAPHY */

    /* ALT FONT */
    --font-heading: 'Tiempos Headline', sans-serif;   
    /*  */

    --font-size-text: 12px;
    --font-size-meta: 11px;
    --font-size-intro: 21px;

    --font-size-header-xl: 48px;
    --font-size-header-l: 32px;
    --font-size-header-m: 20px;
    --font-size-header-s: 18px;
    --font-size-header-xs: 14px;

/* --- LETTER SPACINGS --- */


    --letter-spacing-xs: -2%;
    --letter-spacing-s: -1%;
    --letter-spacing-m: 8%;
    --letter-spacing-l: 10%;

/* --- LINE HEIGHTS --- */

    --line-height-l: 150%; /*artikeltekst*/
    --line-height-m: 144%; /*Introtekst, donatiebox, auteurtekst*/
    --line-height-s: 125%; /*uitgelichte titel*/
    --line-height-xs: 120%; /*Koptekst*/

}
@media (prefers-contrast: more){
    body{
        --primary-color: #9B2212;
        --primary-color-accent: #8B504B;
        --darkgrey:  #757575;
    }
}


h1{
    font-size: var(--font-size-header-xl);
    color: var(--black);
    line-height: var(--line-height-xs);
    font-weight: bold;
    font-family: var(--font-heading);
}